<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 2</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t2.css'>


</head>

<body>
  <div class="relative mw-1400px center ma0">
    <div class="bgimg absolute top-0 right-0 bottom-0 left-0"></div>
  </div>

  <div class="mw-767px center pt3 ph3 ph0-ns overflow-hidden">
    <h1 class="mt0 mb1 fl ttu f2 fw4 white cf">BRAND X</h1>
    <a href="#" class="fr cf no-underline white bg-blue hover-bg-dark-blue br2 pv2 ph3 mt2 f6">Contact Us</a>
  </div>

  <div class="mw-767px center tl overflow-hidden">
    <h1 class="white bg-black-30 f2 f1-ns fw4 mv5 pa3 w-80 w-45-ns fr-ns lh-110">Dependable Service for Over 50 Years.</h1>
  </div>

  <div class="mw-767px center bg-white h-at pa4">
    <h1 class="mid-gray fw4 f2">Best Agents in the Industry.</h1>
    <p class="mt4 mid-gray f5 lh-copy">Sed sit amet venenatis diam. Mauris tempor congue mauris, non interdum nunc vestibulum non. Maecenas pretium eros et velit facilisis lobortis. Mauris tincidunt sed leo vitae dapibus. Nunc dictum magna mi, quis aliquet massa tristique non. Vivamus molestie justo risus, a suscipit massa tincidunt ut. </p>
    <p class="mid-gray f5 lh-copy">Etiam iaculis eleifend sem, ac sagittis metus. Pellentesque metus elit, viverra vel orci sit amet, venenatis posuere enim. Proin ullamcorper ante ac congue tincidunt. Morbi a lectus et leo tristique rhoncus. In pretium tincidunt tempor. Curabitur eget vulputate tellus. In sem nunc, vehicula et lacinia at, congue et urna. Sed tincidunt tempus tincidunt. Cras sodales id lacus et congue.</p>
    <hr>

    <div class="mt1 cf overflow-hidden tc">
      <div class="fl w-33-l w-100 dib pa3 mb3">
        <img class="mw-100" src="img/t2_btmimg.jpg">
        <p class="mv2 mid-gray f6 mt0">Caption 1. Infomation here.</p>
        <a href="#" class="w3 mt2 bg-blue hover-bg-dark-blue br2 pa2 white no-underline f6 db center">More Info</a>
      </div>
      <div class="fl w-33-l w-100 dib pa3 mb3">
        <img class="mw-100" src="img/t2_btmimg.jpg">
        <p class="mv2 mid-gray f6 mt0">Caption 2. Infomation here.</p>
        <a href="#" class="w3 mt2 bg-blue hover-bg-dark-blue br2 pa2 white no-underline f6 db center">More Info</a>
      </div>
      <div class="fl w-33-l w-100 dib pa3 mb3">
        <img class="mw-100" src="img/t2_btmimg.jpg">
        <p class="mv2 mid-gray f6 mt0">Caption 3. Infomation here.</p>
        <a href="#" class="w3 mt2 bg-blue hover-bg-dark-blue br2 pa2 white no-underline f6 db center">More Info</a>
      </div>
    </div>

    <div class="bg-near-white ba b--light-gray br3 cf pa3 mt2 mb4">
      <div class="fl">
        <h3 class="mt0 mb1 mid-gray fw4 f3">Get in touch today!</h3>
        <p class="mt0 mid-gray f6">We value your input, contact, feedback, visits, calls and other stuff.</p>
      </div>
      <a href="#" class="fr cf no-underline white bg-blue hover-bg-dark-blue br2 pv2 ph3 mt3 f6">Contact Us</a>
    </div>
  </div>
</body>

</html>
