<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 3</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t3.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->

</head>
<body class="pb6 ph3">

  <div id="container" class="screen-res center">
    <!-- header -->
    <header class="pt4">
      <div class="w-100 pa0-ns cf">
        <h2 class="fl ttu fw4 mid-gray ttu ma0 f2 tracked-tight">Company X</h2>
        <a href="#" class="fr link white bg-green hover-bg-dark-green br2 pv2 ph3 f6">View Location</a>
      </div>
      <div class="w-100 pt3">
        <img class="w-100" src="img/t3-header.jpg" alt="header" />
      </div>
    </header>

    <!-- main -->
    <div class="w-100 pv4">
      <!-- form -->
      <div class="w-35-ns w-100 dib fr mid-gray bg-light-gray h-at pa3 pb4">
        <h4 class="mt2 mb3 fw4 f5 fw7">We'll let you know when we open!</h4>
            <!-- confirmation page option -->

            <!-- You can link to a custom thank you page by replacing the hash symbol with a relative link: ex. window.location='thank-you.html' if thank-you.html is in the same folder as your main landing page. -->

            <!--

            <script type="text/javascript">var submitted=false;</script>

            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='#';}"></iframe>
            <form action= "[ENTER FORM URL HERE]" onsubmit="submitted=true;" target="hidden_iframe">

            -->

            <!-- end confirmation page option -->

           <form action= "[ENTER FORM ACTION VALUE HERE]" onsubmit="" target="_self">
              <div class="mb3">
                <label for="entry_[ENTER INPUT ID VALUE HERE]" class="fw7 f6 req">First Name</label>
                <input name="entry.[ENTER INPUT ID VALUE HERE]" class="mt2 db w-100 h2 ph2 pv1 f6 ba b--light-silver br2" type="text">
              </div>
              <div class="mb3">
                <label for="entry_[ENTER INPUT ID VALUE HERE]" class="fw7 f6 req">Last Name</label>
                <input name="entry.[ENTER INPUT ID VALUE HERE]" class="mt2 db w-100 h2 ph2 pv1 f6 ba b--light-silver br2" type="text">
              </div>
              <div class="mb3">
                <label for="entry_[ENTER INPUT ID VALUE HERE]" class="fw7 f6 req">E-Mail</label>
                <input name="entry.[ENTER INPUT ID VALUE HERE]" class="mt2 db w-100 h2 ph2 pv1 f6 ba b--light-silver br2" type="email">
              </div>
              <div class="mb4">
                <label for="entry_[ENTER INPUT ID VALUE HERE]" class="fw7 f6">Phone</label>
                <input name="entry.[ENTER INPUT ID VALUE HERE]" class="mt2 db w-100 h2 ph2 pv1 f6 ba b--light-silver br2" type="tel">
              </div>
              <input name="submit" type="submit" value="Submit" class="link white bg-green hover-bg-dark-green br2 bw0 pv2 ph3 f6 ttu"></input>
          </form>
      </div>
      <!-- content -->
      <div class="w-65-ns w-100 ph3 dib fr mid-gray pt3 pt0-l pt0-m pb5">
        <h1 class="fw4 f2 ma0 pb2">HTML Ipsum Presents</h1>
        <p class="f6 lh-copy"><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code class="bg-near-white red br2 pa1">commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a class="light-blue hover-blue link hover-underline" href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <h2 class="fw4 ma0 pv2">Header Level 2</h2>
        <!-- bordered list -->
        <div class="ba br2 b--light-gray f6">
          <div class="db ph3 pv2 brt2 bb b--light-gray bg-white">Cras justo odio</div>
          <div class="db ph3 pv2 bb b--light-gray bg-white">Dapibus ac facilisis in</div>
          <div class="db ph3 pv2 brb2 bg-white">Morbi leo risus</div>
        </div>
        <p class="f6 lh-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

        <h3 class="f3 fw4 ma0 pv2">Contact Us Today!</h3>
        <p class="large">Sign up with our form, or email us at updates@companyx.com</p>
      </div>

    </div>
  </div>
</body>
</html>
