<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 4</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t4.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->


</head>
<body class="bg-cv">

  <section id="nav" class="w-100 fixed">
    <nav class="w-100 bg-navy static">
      <div class="screen-res w-100 h-100 center">
          <a class="fl white mt3 ml3 no-underline ttu cf" href="#">Golf World</a>
          <ul class="fr cf ma0 pa0 h-100">
            <li class="dib h-100"><a class="h-100 pa3" href="tel:5555555555"><i class="fa fa-phone fa-lg white pt3"></i></a></li>
            <li class="dib h-100"><a class="h-100 pa3" href="mailto:mail@test.com"><i class="fa fa-map-marker fa-lg white pt3"></i></a></li>
            <!-- Add Links as desired -->
          </ul>
      </div>
    </nav>
  </section>
    <div class="screen-res w-100 h-100 center">
      <img class="mw-100 db mb1 center" src="img/t4_top.jpg" alt="carousel">
    </div>
    <div class="screen-res mw-100 bg-white-o8 ph4 center pb5 mb4">
      <h1 class="mid-gray fw4 pt4 mb2 f2">The Best Equipment Around</h1>
      <p class="lh-copy mid-gray mt0 mb3">
        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code class="bg-white f6 red pa1 br2">commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum,
        elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a class="light-blue hover-blue link hover-underline" href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.
      </p>
      <div class="cf">
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
        <div class="fl w-33-l w-50 dib pa2 mb3">
          <img class="mw-100" src="img/t4_img.png">
          <p class="lh-copy mid-gray fs mt0">Description of the Item. More descriptions of item. <br><span class="fw7"> On Sale Price: $99</span></p>
          <div class="relative h-i w-100 tc pv2 mt3">
            <a href="#" class="abs-center h1 mw-100 bg-blue hover-bg-dark-blue br2 pa2 ma3 white no-underline f6"><i class="fa fa-shopping-cart fa-flip-horizontal white"></i> Buy Now</a>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
