<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 8</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t8.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->



    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="w-100">
    <div class="mw-500px bg-light-gray center">
      <img class="mw-100 db" src="img/t8_top.jpg"/>
      <div class="mw-100 pa3 pt2">
        <h2 class="serif mt1">Company Inc.</h2>
        <p class="f6">Duis quis dolor neque. Duis nunc lacus, tristique ac tellus nec, lacinia pulvinar nunc. Aenean sed leo vitae diam volutpat venenatis. Morbi quis sapien enim. Vivamus a tincidunt tortor, at fringilla justo. Cras viverra lacus eu nunc mollis, a commodo nisi dictum. Nam efficitur felis ut convallis condimentum.</p>
        <p class="f6">Sed fringilla arcu sapien, a convallis nulla sagittis ac. Integer id fringilla dolor. Sed et nisi gravida mauris lacinia luctus in non felis.</p>
      </div>
      <div class="mw-100 h-90px">
        <div class="relative fl h-i w-50 bg-light-silver tc">
          <a href="#"class="absolute abs-center h2 w-80 bg-blue hover-bg-dark-blue br2 pa2 ma3 white f6">Click Here</a>
        </div>
        <div class="relative fl h-i w-50 bg-light-silver tc">
          <a href="#" class="absolute abs-center h2 w-80 bg-blue hover-bg-dark-blue br2 pa2 ma3 white f6">Click Here</a>
        </div>
      </div>
        <img class="mw-100 db" src="img/t8_btm.jpg"/>
    </div>
  </div>

</body>
</html>
