<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 5</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t5.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="tc bg-cv bg-pos-center">
  <div class="inner-shadow w-100 h-100 fixed overflow-y-auto">
    <div class="mw7 center pa4 pb0 mb0 cf">
      <img class="db mb3 fl-l center" src="img/t5-logo.svg" alt="brand" />
      <div class="dib center fr-l pt3-l">
        <a href="#" class="near-white link pv3 bb bw1 b--black-o1 hover-b--white-o6">Contact Us</a>
      </div>
    </div>

    <div class="mw7 center pa4 pt2 mv0">
        <h1 class="white mb2 f2 fw4">Announcing the Big Deal</h1>
        <p class="white mb4 f6">Donec a mattis eros. Quisque mattis augue non ligula vulputate pulvinar. Ut et dui id lacus fermentum posuere ac et nulla. Integer efficitur sem ut tortor tincidunt maximus.</p>
          <div class="mw-100">
            <div class="videoWrapper">
              <iframe src="https://www.youtube.com/embed/FOLC-hLDeaI?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        <div class="h-at pv3 mt4 mb5 center">
          <a href="#"class="link bg-light-gray hover-bg-white ph4 pv3 br3 black f5 fw6 tc button">Learn More</a>
        </div>
        <div class="light-silver mt5 f6">
            <p>Copyright &copy; 2016 <a class="link white hover-underline" href="#">Company</a>, check us out at <a class="link white hover-underline" href="#">site</a>.</p>
        </div>
    </div>
  </div>
</body>

</html>
