<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template 6</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- Styles -->
    <link rel='stylesheet' type='text/css' href='css/style.min.css'>
    <link rel='stylesheet' type='text/css' href='css/t6.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' data-norem rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' data-norem rel='stylesheet' type='text/css'>
    <!-- Custom -->

</head>
<body>
  <section id="top">

  <!-- Logo Bar  -->

    <div id="logoBar" class="shadow-2">
      <div class="mw-100 ph2">
        <img class="mw-100 db center" src="img/t6-logo.png">
      </div>
    </div>

  </section>

  <section id="content-area" class="pa3 pb6 mw6 mb3 center">
    <div>
        <img class="mw-100 db center mb1" src="img/t6-pic.jpg">
        <h1 class="mb1 mid-gray f2">HTML Ipsum Presents</h1>
        <p class="fw4 mt4 mid-gray f6"><span class="b-ns">Pellentesque habitant morbi tristique</span> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
        <p class="fw4 mb4 mid-gray f6">Senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    </div>
    <div class="w-100 mv3 tc center">
        <a href="#"class="mv3 db tc h2 w-100 bg-red hover-bg-dark-red animate-bg br2 pv2 near-white f6">View Location</a>
        <a href="#"class="mv3 db tc h2 w-100 bg-red hover-bg-dark-red animate-bg br2 pv2 near-white f6">Click to Call</a>
        <div class="pv3 fr">
          <span class="light-silver f6">&copy; 2016, Checkered Flag </span>
          <a href="#"><i class="hover-white animate-color ph1 fa fa-facebook-square light-silver"></i></a>
          <a href="#"><i style="margin-right:0;" class="hover-white animate-color ph1 fa fa-twitter-square light-silver"></i></a>
        </div>
    </div>
  </section>

</body>
</html>
